<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabrielbalbuena.saludutn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaludUTN">
        <activity android:name=".EditorDiarioEmociones" />
        <activity android:name=".DiarioEmociones"
            android:label="@string/editor_activity_title_new_diarioemociones"/>



        <activity android:name=".EditorDatosPersonales" />
        <activity android:name=".DatosPersonales"
            android:label="@string/editor_activity_title_new_datospersonal"/>


        <activity
            android:name=".SaludMental"
            android:label="@string/title_salud_mental" />
        <activity
            android:name=".SaludFisica"
            android:label="@string/title_salud_fisica" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.SaludUtnProvider"
            android:authorities="com.gabrielbalbuena.saludutn"
            android:exported="false" />
    </application>

</manifest>